/*Andisheh Bassiri
ASDI
1013*/
html{
	height: 100%;
}

h1{
	font-size: 40px;
	color: #d2f4af;
	text-align: center;
	font-family: sans-serif;
}

h2{
	color: #99cc66;
	background-color: #d2f4af;
	padding: 39px;
	font-family: sans-serif;
	text-align: center;
}

p{
	color: #d2f4af;
	font-family: sans-serif;
}

img{
}

input{
	background-color: #99cc66
}

.title{
	padding-top: 40px;
	margin-top: 0px;
	margin-left: 0px;
	text-align: center;
}

.button{
	display: block;
	background-color: #d2f4af;
	padding-top: 23px;
	padding-bottom: 15px;
	padding-left: 0px;
	margin-top: 10px;
	text-align: center;
}

.vertbar{
	display: block;
	background-color: #d2f4af;
	padding-top: 10px;
	margin-top: 10px;	
}
.mainbuttons{
	margin-top: 35px;
}

.projbuttons{
	margin-top: 0px;
	text-align: center;
}
.listback{
	display: block;
	background-color: #d2f4af;
	padding-top: 10px;
	margin-top: 10px;	
}
.page{
	background-color: #99cc66;
	height: 100%;
}

